@import "tailwindcss";

@theme {
  --color-brand: var(--color-red-400);
  --color-brand-light: var(--color-red-500); 
  --color-brand-dark: var(--color-red-600); 

  --color-surface: #0f172a;
  --color-surface-alt: #1e293b;
  --color-surface-card: #1e293b;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-border: #334155;
}
